body {
  font-family: 'Noto Sans KR';
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #333;
  word-break: keep-all;
}
/* *:focus {
  outline: none;
}
.focused {
  outline: 2px solid red;
} */

/* Media Queries */
/* 
Mobile First Design
@media screen and (min-width: 768px) { Tablet start}
@media screen and (min-width: 1024px) { Laptop, Desktop  start} 
*/



.mainHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  color: #fff;
  transition: all 0.3s ease;
}
.mainHeader.offCanvas {
  top: -50px;
}

.btnNavMenu {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 1;
  transition: all 0.2s ease;
  opacity: 0.8;
}
.btnNavMenu:hover {
  opacity: 1;
}
.btnNavMenu::before,
.btnNavMenu::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.3s ease;
}
.btnNavMenu::before {
  top: 20px;
}
.btnNavMenu::after {
  top: 30px;
}
.btnNavMenu.is_close::before,
.btnNavMenu.is_close::after {
  top: 50%;
  margin-top: -1px;
}
.btnNavMenu.is_close::before {
  transform: rotate(-135deg);
}
.btnNavMenu.is_close::after {
  transform: rotate(135deg);
}

.mainNav {
  position: fixed;
  top: 0;
  padding-top: 50px;
  height: 100vh;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  left: -300px;
}
.mainNav.is_opened {
  left: 0;
}
.mainNav a {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1em;
  padding-left: 14px;
  font-size: 20px;
}
.mainNav a span {
  display: inline-block;
  opacity: 0.8;
  transition: all 0.2s ease;
}
.mainNav a span::after {
  content: '';
  display: block;
  border-top: 1px solid currentColor;
  transform-origin: right top;
  transition: transform 0.2s;
  transform: scaleX(0);
}
.mainNav a:hover span {
  opacity: 1;
}
.mainNav a:hover span::after {
  transform-origin: left top;
  transform: scaleX(1);
}



/* Top Section */
.top {
  position: relative;
  padding-top: 50px; /* .mainHeader 높이값 과 동일하게 */
  width: 100%;
  height: 100vh;
  background: url('../img/bg_top.jpg') center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
h1 {
  position: absolute;
  top: 41%;
  left: 28%;
  line-height: 1;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 50px;
  color: #555;
}
h1 > span {
  display: inline-block;
}
h1 > span:last-of-type::after {
  content: '.';
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 89px;
  }
}

/* h1 > span::after {
  content: '';
  display: block;
  border-top: 2px solid #555;
} */




.about {
  padding: 30% 10% 20%;
  background: url('../img/bg_about_landscape5.jpg') 70% 50% no-repeat;
  /* background: url('../img/bg_about_landscape4.jpg') 70% 0% no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}
.profile_img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s ease;
}
.profile_img img {
  width: 100%;
}

.introduction {
  width: 90%;
  margin: 2em auto;
  text-shadow: 0px 0px 4px #fff;
  transition: all 0.2s ease;
}
.introduction small {
  font-size: 0.8em;
}
.introduction em {
  font-size: 1.1em;
  font-weight: bold;
  color: #218126;
}
.introduction del {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 20% 0;
  }
  .introduction {
    width: 610px;
    margin: 4em auto;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    padding: 150px 0;
  }
}


.projects {
  padding: 10vw 0;
  height: 100vh;
  background: url('../img/bg_project_portrait.jpg') 10% 30% no-repeat;
  background-size: cover;
}
.projects h2 {
  font-size: 10vw;
  text-align: center;
  color: #fff;

}



































